<div class="profile">
	<section id="thumbnails" class="clearfix">
		<a>
			<img class="2x" width="300" height="300" src="/assets/images/image-thumbnail.jpg"/>
			<span>test</span>
		</a>
		<a>
			<img class="2x" width="300" height="300" src="/assets/images/image-thumbnail.jpg"/>
			<span>test</span>
		</a>
		<a>
			<img class="2x" width="300" height="300" src="/assets/images/image-thumbnail.jpg"/>
			<span>test</span>
		</a>
		<a>
			<img class="2x" width="300" height="300" src="/assets/images/image-thumbnail.jpg"/>
			<span>test</span>
		</a>
	</section>
</div>
